<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <%= f.label :objective %>
    <%= f.text_area :objective, label: false, class: "form-control", placeholder: "Enter objective"%>
    <%= link_to_remove_association "Remove objective", f, class:"btn btn-danger"%>
    <hr style="height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);" >
  </div>
</div>