<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <%= f.label :objective %>
    <%= f.text_area :objective, label: false, class: "form-control", placeholder: "Enter objective"%>
    <%= link_to_remove_association "Remove objective", f, class:"btn btn-danger"%>
  </div>
</div>