<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <div style="margin-bottom: 10px">
      <div class="row">
        <div class="col-md-10">
          <%= f.select :name, [['Pre-school','Pre-school'],
                               ['Primary school','Primary school'],
                               ['High school','High school'],
                               ['Bachelors','Bachelors'],
                               ['Masters','Masters'],
                               ['Doctors','Doctors'],
                               ['General','General']], {prompt: "Select target / เลือกผู้เรียน"}, {class: "form-control"} %>
        </div>
        <div class="col-md-2"><%= link_to_remove_association '<i class="fa fa-trash-o fa-2x text-danger"></i>'.html_safe, f%></div>
      </div>
    </div>
  </div>

</div>