<div class="nested-fields">
  <div class="field offset-lg-2" , style="margin-bottom: 10px">
    <%= f.label :technique %>
    <div style="margin-bottom: 10px">
      <%= f.text_field :name, label: false, class: "form-control", placeholder: "Enter technique" %>
    </div>
    <%= link_to_remove_association "Remove technique", f, class: "btn btn-danger" %>
  </div>
</div>