<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <%= f.label :topic_name %>
    <%= f.text_area :name, label: false, class: "form-control", placeholder: "Enter topic name"%>
    <%= link_to_remove_association "Remove topic", f, class:"btn btn-danger"%>
  </div>
</div>