<div class="nested-fields">
  <div class="field", style="margin-bottom: 10px">
    <div class="row">
      <div class="col-md-10"><%= f.text_field :name, label: false, class: "form-control", placeholder: "Enter topic name / ระบุหัวข้อ"%></div>
      <div class="col-md-2"><%= link_to_remove_association '<i class="fa fa-trash-o fa-2x text-danger" ></i>'.html_safe, f %></div>
    </div>

  </div>
</div>